h1 {
    font-style: italic;
}
body {
    background-color: 
    antiquewhite;
}

img {
    float: left;
    margin: 10px;
    border: 5px solid burlywood;
    border-radius: 10px;
    max-height: 250px;
}

.title{
    font-family: fantasy;
    font-weight: bold;
    font-size: 32px;
    margin-top: 10px;
}


ul.menu{
    border: 5px solid burlywood;
    font-family: fantasy;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #aa3832
}

li{
    float: left
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: burlywood;
    color:white;
 }

body {
    margin: 10px;
}

div{
    margin: 10px;
}

footer{
    border-top: 5px solid burlywood;
    margin: -10px;
    padding:30px;
    background-color: rgb(205, 214, 224);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1em;
}

section{
    display: flex
}

aside{
    flex: 1
}

article {
    flex: 4
}